<div class="displayListWrapper">
  <p>Current rules applied:</p>
  <div *ngFor="let rule of currentRules; index as i" class="cardWrapper">
    <p-card [header]="'Rule ' + (i + 1) + ':'">
      <ul>
        <li *ngFor="let condition of rule">
          {{
            "Filter " +
              condition.column +
              " where values are " +
              FilterConditionEnum[condition.filterCondition].replaceAll(
                "_",
                " "
              ) +
              " " +
              condition.filterValue +
              " " +
              (condition.logicalOperator || "")
          }}
        </li>
      </ul>
    </p-card>
  </div>
  <div class="buttonWrapper">
    <p-button type="button" (onClick)="saveRules()">Save current rule</p-button>
    <p-button type="button" (onClick)="revertRules()"
      >Revert to previous rules</p-button
    >
    <p-button type="button" (onClick)="removeAllRules()"
      >Remove all rules</p-button
    >
  </div>
</div>
