<div class="formInputWrapper">
  <div class="instructionWrapper">
    <strong>Rule builder input</strong>
    <p>
      Start building your filter rules by adding conditions with the input
      fields below
    </p>
    <p>Confirm the addition of the rule by clicking on Submit Rule</p>
  </div>
  <form
    [formGroup]="rulesForm"
    (ngSubmit)="addConditionHandler()"
    class="formClass"
  >
    <!-- Selection for column to filter by -->
    <div class="inputWrapper">
      <label for="column">Field:</label>
      <p-dropdown
        name="column"
        id="column"
        [options]="columnOptionData"
        formControlName="column"
        placeholder="Select a column"
        required
      />
    </div>
    <!-- Selection for filter rule condition -->
    <div class="inputWrapper">
      <label for="filterCondition">Filter Condition:</label>
      <p-dropdown
        id="filterCondition"
        type="text"
        formControlName="filterCondition"
        [options]="filterConditionOptionData"
        required
      />
    </div>
    <!-- Selection for value type -->
    <div class="inputWrapper">
      <label for="valueType">Value Type:</label>
      <p-dropdown
        id="valueType"
        [options]="valueTypeOptionData"
        formControlName="valueType"
        required
      />
    </div>
    <!-- Selection for filter value -->
    <div class="inputWrapper">
      <label for="filtervalue">Filter Value:</label>
      <input
        pInputText
        id="filterValue"
        type="text"
        formControlName="filterValue"
        required
      />
    </div>
    <!-- Selection for condition operator Type -->
    <div class="inputWrapper">
      <label for="logicalOperator">Logical Operator:</label>
      <p-dropdown
        id="logicalOperator"
        formControlName="logicalOperator"
        [options]="logicalOperatorOptionData"
        required
      />
    </div>
    <p-button type="submit" severity="secondary" [disabled]="rulesForm.invalid"
      >Add condition to filter rule</p-button
    >
  </form>
  <div class="conditionsWrapper">
    <p>Conditions for current rule:</p>
    <ul>
      <li *ngFor="let condition of currentConditions">
        {{
          "Filter " +
            condition.column +
            " where values are " +
            FilterConditionEnum[condition.filterCondition].replaceAll(
              "_",
              " "
            ) +
            " " +
            condition.filterValue +
            " " +
            (condition.logicalOperator || "")
        }}
      </li>
    </ul>
  </div>
  <p-button
    type="button"
    [disabled]="currentConditions.length === 0"
    (onClick)="confirmRuleHandler()"
    >Submit rule</p-button
  >
</div>
