div {
  display: flex;
  flex-direction: row;
}

p {
  margin: 0;
}

.formInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.instructionWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formClass {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.conditionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
